<!DOCTYPE html>
<html>
  <head>
    <title>BassNimbus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://vignette.wikia.nocookie.net/nocopyrightsounds/images/0/0a/Soundcloud-icon.jpg/revision/latest?cb=20151216170853">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
